# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.env
.venv/

# Runtime Data
logs/
state/

# SQLite
*.sqlite
*.db

# VSCode
.vscode/

# Mac
.DS_Store

# Dashboard Runtime Settings
config/dashboard_config_override.json